{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_extra %}
<link href="{% static 'css/accounts.css' %}" rel="stylesheet" />
{% endblock head_extra %}
{% block content %}
<div class="container">
  <div class="px-4 py-5 my-5">
    <div class="col-lg-6 mx-auto">
      <h1 class="display-6 fw-bold">Change Password</h1>
      <form method="POST" action="" class="password_change">
          {% csrf_token %}
          {{ form | crispy }}
          <div class="form-actions">
            <button class="btn btn-primary" type="submit" name="action">Change Password</button>
          </div>
      </form>
    </div> 
  </div>
</div>
{% endblock %}