html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}


.form-email {
  width: 100%;
  max-width: 900px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}