h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 1rem;
}

.form-container {
  padding-top: 40px;
}

.form-user {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.form-user .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.base-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.base-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}
