<!-- templates/posts.html -->
{% extends 'blog/base.html' %}
{% block content %}
<div>
  <div class="container safe-area-container">
    {% include "blog/top_nav.html" %}
    {% include "blog/bottom_nav.html" %}

    <!-- .blog-headline -->
    {% if headline %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{headline.title}}</h1>
        <p class="lead my-3 content-markdown">{{headline.get_markdown|truncatechars_html:143}}</p>
        <p class="lead mb-0"><a href="{{ headline.get_absolute_url }}" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
    {% endif %}
    <!--/ .blog-headline -->

    <!-- .blog-feature -->
    <div class="row mb-2">
      {% for feature in featured %}
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            {% for category in feature.categories.all %}
            <strong class="d-inline-block mb-0 category-name"><a href="{% url 'post_category' category.name %}">{{ category.name | capfirst }}</a></strong>
            {% endfor %}
            <h3 class="mb-0">{{feature.title}}</h3>
            <div class="mb-0 text-muted">{{feature.last_modified|date:"M d"}}</div>
            {% autoescape on %}
            <p class="card-text mb-0">{{feature.get_markdown|truncatechars_html:100}}</p>
            {% endautoescape %}
            <a href="{{ feature.get_absolute_url }}" class="stretched-link">Continue reading</a>
          </div>
          {% if feature.cover %}
          <div class="thumb-container col-auto d-none d-lg-block">
            <img class="card-img feature-thumb flex-auto d-none d-md-block"  alt="Thumbnail [200x250]" src="{{ feature.cover.url}}"  alt="{{ feature.title }}"/>
          </div>
            {% else %}
            <div class="thumb-container col-auto d-none d-lg-block">
              <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17218ae5d37%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17218ae5d37%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22130.7%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
        <!--/ .blog-feature -->

      </div>
      <!--/ .blog-header -->
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            {% if firehose %}
            <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>
            <div class="blog-post">
              <h2 class="blog-post-title">{{firehose.title}}</h2>
              <p class="blog-post-meta">{{firehose.last_modified|date:"F d, Y"}} by <a href="#">{{ firehose.author }}</a></p>
              <p class="content-markdown">{{ firehose.get_markdown|truncatechars_html:4000 }}</p>
              {% for category in firehose.categories.all %}
              <a href="{% url 'post_category' category.name %}">
              {{ category.name | capfirst }}
              </a>
              {% endfor %}
            </div>
            {% endif %}

            <!-- .blog-post -->
            {% for post in posts %}
            <div class="blog-post">
              <h2 class="blog-post-title">
              <p>{{ post.get_absolute_url }}</p>
            </h2>
              <p class="blog-post-subtitle">{{ post.subtitle|truncatechars_html:200 }}</p>
              <p class="blog-posts-meta">{{post.last_modified|date:"F d, Y"}} by <a href="#">{{post.author}}</a></p>
              {% for category in post.categories.all %}
              <a href="{% url 'post_category' category.name %}">
              {{ category.name | capfirst }}
              </a>
              {% endfor %}
            </div>
            {% endfor %}
            <!-- /.blog-post -->

          {% comment %} {% include "blog/pagination.html" with page=page_obj  %} {% endcomment %}
          </div>
          <!-- /.blog-main -->

          <aside class="col-md-4 blog-sidebar mb-5 mb-sm-0">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="font-italic">About</h4>
              <p class="mb-0">Coding, Tutorials, News, UX, UI and much more.</p>
            </div>

            <div class="p-4">
              <h4 class="font-italic">Archives</h4>
              <ol class="list-unstyled mb-0">
                {% for date in archives%}
                <li><a href="{% url 'post_archive' date|date:'Y'  date|date:'m' %}">{{ date | date:"F Y" }}</a></li>
                {% endfor %}
              </ol>
            </div>

            <div class="p-4">
              <h4 class="font-italic">Elsewhere</h4>
              <ol class="list-unstyled">
                <li><a href="https://github.com/jqn">GitHub</a></li>
                <li><a href="https://twitter.com/jQNReactor">Twitter</a></li>
                <li><a href="https://www.instagram.com/jqn.io/">Instagram</a></li>
              </ol>
            </div>
          </aside>
          <!-- /.blog-sidebar -->

        </div>
        <!-- /.row -->
      </main>
    </div>
    {% endblock content %}
