{% extends 'blog/base.html' %}
{% block content %}
<div class="container content-container">
  {% include "blog/top_nav.html" %}
  <div class="post-entry pt-5">
    <h2 class="blog-post-title">{{ object.title }}</h2>
    <p class="blog-post-meta">{{object.last_modified|date:"F d, Y"}} by <a href="#">{{object.author}}</a></p>
    <p class="mb-auto content-markdown">{{ object.body }}</p>
  </div>
  {% if user.is_authenticated %}
  <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
  <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
  {% endif %}
</div>
{% endblock content %}
