{% extends "blog/base.html" %}
{% block content %}
<div class="container safe-area-container col-md-8 offset-md-2">
  <h1><a class="text-dark" href="{% url 'posts' %}">{{ category | title }}</a></h1>
  <hr class="mb-5">
  {% for post in posts %}
  <h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}"class="text-dark font-weight-bold">{{ post.title }}</a></h2>
  <p class="blog-post-subtitle">{{ post.subtitle|truncatechars_html:200 }}</p>
  <small>
   <p class="category-post-meta">{{ post.last_modified|date:"F d, Y" }} by <a href="#">{{post.author}}</a> |&nbsp;
  Categories:&nbsp;
  {% for category in post.categories.all %}
  <a href="{% url 'post_category' category.name %}">
  {{ category.name | capfirst }}
  </a>&nbsp;
  {% endfor %}</p>
  </small>
  {% endfor %}
</div>
{% endblock content %}
