<!-- templates/posts.html -->
{% extends 'blog/base.html' %}
{% block content %}
<div>
  <div class="container content-container">
    {% include "blog/top_nav.html" %}
    {% include "blog/bottom_nav.html" %}

    <!-- .blog-headline -->
    {% if headline %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">{{headline.title}}</h1>
        <p class="lead my-3 content-markdown">{{headline.get_markdown|truncatechars_html:143}}</p>
        <p class="lead mb-0"><a href="{% url 'post_detail' headline.pk %}" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
    {% endif %}
    <!--/ .blog-headline -->

    <!-- .blog-feature -->
    <div class="row mb-2">
      {% for feature in featured %}
      <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            {% for category in feature.categories.all %}
            <strong class="d-inline-block mb-2 text-primary">{{ category.name | capfirst }}</strong>
            {% endfor %}
            <h3 class="mb-0">{{feature.title}}</h3>
            <div class="mb-1 text-muted">{{feature.last_modified|date:"M d"}}</div>
            <p class="card-text mb-auto">{{feature.body|truncatechars_html:100}}.</p>
            <a href="{% url 'post_detail' feature.pk %}" class="stretched-link">Continue reading</a>
          </div>
          {% if feature.cover %}
          <div class="thumb-container col-auto d-none d-lg-block">
            <img class="card-img feature-thumb flex-auto d-none d-md-block"  alt="Thumbnail [200x250]" src="{{ feature.cover.url}}"  alt="{{ feature.title }}">
          </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!--/ .blog-feature -->

    </div>
    <!--/ .blog-header -->
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          {% if firehose %}
          <h3 class="pb-4 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>
          <div class="blog-post">
            <h2 class="blog-post-title">{{firehose.title}}</h2>
            <p class="blog-post-meta">{{firehose.last_modified|date:"F d, Y"}} by <a href="#">{{ firehose.author }}</a></p>
            <p class="content-markdown">{{ firehose.get_markdown|truncatechars_html:2500 }}</p>
            {% for category in firehose.categories.all %}
            <a href="{% url 'post_category' category.name %}">
            {{ category.name | capfirst }}
            </a>
            {% endfor %}
          </div>
          {% endif %}
          <!-- /.blog-post -->

        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Coding, Tutorials, News, UX, UI and much more.</p>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              {% for date in archives%}
              <li><a href="{% url 'post_archive' date|date:'Y'  date|date:'m' %}">{{ date | date:"F Y" }}</a></li>
              {% endfor %}
            </ol>
          </div>

          <div class="p-4">
            <h4 class="font-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/jqn">GitHub</a></li>
              <li><a href="https://twitter.com/jQNReactor">Twitter</a></li>
              <li><a href="https://www.instagram.com/jqn.io/">Instagram</a></li>
            </ol>
          </div>
        </aside>
        <!-- /.blog-sidebar -->

      </div>
      <!-- /.row -->
    </main>
  </div>
  {% endblock content %}
