<!-- templates/home.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include "nav.html" %}
<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Reactor Labs</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Full Stack 	&bull; Mobile &bull; Coaching</h2>
      <a class="btn btn-primary js-scroll-trigger" href="#about">Learn more</a>
    </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Focus On Cross-Platform Mobile Development</h2>
        <p class="text-white-50">
          Game changing and cutting edge mobile apps built with
          <a href="https://reactnative.dev/">React Native</a>.
          A cross-platform framework that runs on Android, iOS, Windows and the Web.
        </p>
      </div>
    </div>
    <img class="img-fluid" src="{% static 'images/about-cover.png' %}" alt="" />
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
    <!-- Featured Project Row-->
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'images/mobile-sunny.png' %}" alt="" />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Sunny</h4>
          <p class="text-black-50 mb-0">An open source and MIT licensed Geolocation Weather app built with React Native. It uses geolocation and openweather API to display your current location's weather.</p>
        </div>
      </div>
    </div>
      <!-- Project One Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'images/mobile-capture.png' %}" alt="" /></div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Capture</h4>
                  <p class="mb-0 text-white-50">React Native example app where you can capture an image and upload it to an AWS S3 bucket.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6"><img class="img-fluid" src="{% static 'images/web-clockwise.png'%}" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">ClockWise</h4>
                    <p class="mb-0 text-white-50">A React web app to keep track of your tasks. It features task timers, a todo list and time spent reporting.</p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
<!-- Signup-->
<section class="signup-section" id="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
        <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
        <form class="form-inline d-flex">
          <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
          <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4" />
            <div class="small text-black-50">Denver, CO</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4" />
            <div class="small text-black-50"><a href="#!">jqn@reactorlabs.studio</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-mobile-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Phone</h4>
            <hr class="my-4" />
            <div class="small text-black-50">+1 (719) 433-5279</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://twitter.com/learnRNative"><i class="fab fa-twitter"></i></a>
      <a class="mx-2" href="https://jqn.medium.com/"><i class="fab fa-medium-m"></i></a>
      <a class="mx-2" href="https://github.com/jqn"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
{% include "footer.html" %}
{% endblock content %}
